{
    "extends": ["airbnb-base", "prettier"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "comma-dangle": 0,
        "no-console": 1,
        "indent": [2, 4],
        "quotes": [2, "double"],
        "import/no-extraneous-dependencies": 1,
        "no-shadow": 1,
        "linebreak-style": 1,
        "no-plusplus": 1,
        "no-bitwise": 1,
        "no-extra-boolean-cast": 1
    }
}
