# {{locals.project}}组件
> {{locals.desc}}

## 目录说明
```
config/webpack.config.build.js: 组件打包配置文件

dist: 存放编译后的文件

mock: 存放模拟数据

src/build.js: 组件打包入口文件
```

## 开发
```
npm start // 启动项目，组件的编写方式参见HelloWorld
```

## 打包
1. 执行build命令：```npm run build```
2. ```dist/bundle.js```即是打包后的文件

## git commit message格式
> 参见 http://npm.taobao.org/package/@commitlint/config-angular

## 依赖

- 全局变量

> 请确保项目中配置了```window.Sysconfig.apiOrigin```，形如：

```javascript
window.Sysconfig.apiOrigin = "http://192.168.105.235/v0.1/"
```

- 第三方依赖包

> 首先保证项目中安装好如下依赖包：antd、dva、react
> 若没有，则执行命令手动安装：```npm install antd dva react```

##  安装

```
npm install {{locals.project}} --registry=http://192.168.110.26:8088/repository/npm/

or

yarn add {{locals.project}} --registry=http://192.168.110.26:8088/repository/npm/
```

##  使用

- {{locals.moduleName}}

```react
import {{locals.moduleName}} from "{{locals.project}}"

// 渲染 - {{locals.moduleName}}
class MyComponent extends React.Component {
render(){
return (<{{locals.project}} />);
}
}
```


## 属性说明

| 成员 | 说明   | 类型 | 默认值 |
| ---- | ------ | ---- | ------ |
| sth  | 必填； |      | -      |

